@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
pcs red #ef5350
pcs green #26a69a
pcs purple #9a6aff
pcs black #27262c

chart red #ef5350
chart green #26a69a
chart black blue #171b26

black #171b26
*/

html,
body {
  background-color: #171b26;
  color: #d8d8d8;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

input {
  border: none !important;
  background-color: #212121 !important;
  color: #d8d8d8 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
}

h2 {
}

h3 {
}

.table {
  margin-bottom: 0 !important;
  height: 100% !important;
  background-color: #212121 !important;
}

.btn,
.alert {
  height: 40px;
}

.alert {
  padding: 8px 10px !important;
  margin-bottom: 0 !important;
}

.progress {
  background-color: #404040 !important;
}

.bear {
  color: #ef5350 !important;
}

.bull {
  color: #26a69a !important;
}
